/* This affects everything within the body tag */
body {
    font-family: "Times New Roman", sans-serif;
}

/* This affects the entire header element */
.header {
    padding: 80px;
    text-align: center;
    background: lightskyblue; /* can use hex value or preset names for colors */
    color: white;
}

/* Only affects the h1 tag in the header */
.header h1 {
    font-size: 40px;
}

.main {
    text-align: center;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}